---
import { Typography } from "@chainlink/blocks"
import type { CommunityEvent } from "./types"
import styles from "./EventCard.module.css"

interface Props {
  event: CommunityEvent
}

const { event } = Astro.props
---

<a href={event.eventUrl} target="_blank" class={styles.eventCardLink}>
  <div class={styles.eventDate}>
    <Typography className={styles.eventMonth} color="muted">{event.month}</Typography>
    <Typography variant="body-semi-l" className={styles.eventDay}>{event.day}</Typography>
  </div>
  <div class={styles.eventCardDesc}>
    <div class={styles.eventCardCountry}>
      <div class={styles.eventCardFlag}>
        <img src={event.flagUrl} loading="lazy" alt={`${event.country} flag`} class={styles.coverImg} />
      </div>
      <Typography variant="code-s" className={styles.eventCardCountryName}>{event.location}</Typography>
    </div>
    <div class={styles.eventCardHWrap}>
      <Typography variant="body-semi-l" className={styles.eventCardH}>
        {event.title}
      </Typography>
      <div class={styles.linkArr}>
        <svg xmlns="http://www.w3.org/2000/svg" display="block" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path
            d="M11.2996 4.69952L4.69996 11.2992M11.2996 4.69952L11.2996 10.3564M11.2996 4.69952L5.64276 4.69952"
            stroke="var(--chainlink-blue)"
            stroke-width="1.6"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </div>
    </div>
  </div>
</a>
